header {
        color: #f3d80f;
        text-align: left;
        padding: 25px;
        font-size: 25px;
        text-transform: capitalize;
        background-color: blueviolet;
        padding: 3em 0 3em 0;
        height: 2em 0 2em 0;

}

img {
        background-color: blue;
        background-position: 50%;
        height: 725px;
        width: 100%;
        text-decoration: dashed;
}

body {
        background-color: rgb(247, 255, 240);
        font-family: 'Times New Roman', Times, serif;
        text-align: center;
        color: black;
        font-size: 24px;
        display: flex;
        flex-direction: column;
}

h1 {
        background-color: blue;
        padding: 2em 0 2em 0;
        border: 0, 5em 0 0, 5em 0;
        margin: auto;
        -webkit-text-fill-color: rgb(240, 255, 250);
}

h2 {
        background-color: blue;
        width: auto;
        padding-left: 1em 0 1em 0;
        border: 0, 5em 0 0, 5em 0;
        height: fit-content;
        margin: auto
}

nav {
        background-color: white;
        background-position: left;
        text-align:center;
        flex-flow: nowrap;
        block-size: auto;
        writing-mode: sideways-lr;
        border: solid;
        float: left;
        width: auto;
        height: min-content;

}

* {
        box-sizing: border-box;
}

body {
        font-family: Arial, Helvetica, sans-serif;
}