header {
        color: #f3d80f;
        text-align: left;
                                              
}

h2 {
        color: #f3d80f;
}

img {
        height: 750px;
        width: 100%;
        text-decoration: dashed;
}

body {
        background-color: rgb(247, 255, 240);
        font-family: 'Times New Roman', Times, serif;
        text-align: center;
        color: black;
        font-size: 24px;
        display: flex;
        flex-direction: column;
}

header {
        background-color: whitesmoke;
        padding: 3em 0 3em 0;
        height: auto;
}

h1 {
        background-color: chocolate;
        padding: 2em 0 2em 0;
        border: 0, 5em 0 0, 5em 0;
        margin: auto;
}

h2 {
        background-color: chocolate;
        width: auto;
        padding-left: 1em 0 1em 0;
        border: 0, 5em 0 0, 5em 0;
        height: fit-content;
        margin: auto
}
nav   {  background-color:white;
        background-position: left;
        text-align:center;
        flex-flow: row wrap;
        block-size: auto;
        writing-mode: horizontal-tb;
        border: solid;
}
body1 { background-color: aqua;   
}